AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_DEFAULT_REGION=""
GITHUB_TOKEN=""
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
LANGSMITH_API_KEY=""
LANGCHAIN_PROJECT=hr-agent-dev